/* -*-css-*- http://www.w3.org/TR/REC-CSS2 */

dt {
    font-weight: bold;
}
	
dd {
    margin: 0 0 1em 1em;
}

/*
p {
    padding-left: 5%;
    padding-right: 5%;
}
*/

p.location {
}

body {
    /* other colors would be nice, but they don't look too well with white
       music fragments.  */
    background: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #a0a0ff;
}

a:visited {
    color:#945b99;
}

a:hover {
    text-decoration: underline;
}

/* Plain text MENU.  */
td.menuleftedge {
}

td.menurightedge {
}

td.menuactiveleftedge {
}

td.menuactiverightedge {
}

td.menu {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

td.menuunclickable {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

td.menuactive {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1.0em;
}

hr {
    color: #000000;
    background-color: #000000;
    border: 0;
    height: 1;
}

/* classes */
p.top {
    margin-top: -10px;
    margin-bottom: -10px;
}

h1.top {
    margin-top: 2px;
    text-align: center;
}

span.top {
    font-size: smaller;
    font-style: italic;
}

p.teaser {
    text-align: right;
}

table.news {
    padding: 10;
    width: 100%;
}

td.news {
    vertical-align: top;
    border: right;
}

table.links {
    halign: left;
    padding: 5;
}

th.news {
    font-size: x-large;
}
