/* -*-css-*- http://www.w3.org/TR/REC-CSS2 */

dt {
    font-weight: bold;
}
	
dd {
    margin: 0 0 1em 1em;
}

/*
p {
    padding-left: 5%;
    padding-right: 5%;
}
*/

p.location {
}

body {
    /* other colors would be nice, but they don't look too well with white
       music fragments.  */
    background: #ffffff;
    /* optimize for a 800x600 screen, increases printability when 
       'fit to page' is not set and readability in wide screens */
    width: 760px;
    padding-left: 1%;
    padding-right: 1%;
}

p.sidebar {
	padding-left: 20px;  
	padding-right: 20px;  
	border: 1px solid #bbb;
	background-color: #FFECCC;
	color: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

p.boxout {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-width: medium;
    border-color: #ffe8a5;
    border-style: solid;
    align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    font-style: normal;
    font-weight: medium;
    font-family: serif;
}

/* ugh: how to inherit? */

p.boxoutright {
    margin-left: 12px;
    float: right;
}
p.boxoutleft {
    float: left;
    margin-right: 12px;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #3C3C90;
}

a:visited {
    color:#945b99;
}

a:hover {
    text-decoration: underline;
}

/* Plain text MENU.  */
td.menuleftedge {
}

td.menurightedge {
}

td.menuactiveleftedge {
}

td.menuactiverightedge {
}

td.menu {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

td.menuunclickable {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

td.menuactive {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: #000000;
    background-color: #000000;
    border: 0;
    height: 1;
}

/* classes */
p.top {
    margin-top: -10px;
    margin-bottom: -10px;
}

h1.top {
    margin-top: 2px;
    text-align: center;
}

span.top {
    font-size: smaller;
    font-style: italic;
}

p.teaser {
    text-align: right;
}



table.news {
    border-spacing: 1.0em;
    padding: 10;
    width: 100%;
}

td.news {
    vertical-align: top;
    border: right;
}

table.links {
    halign: left;
    padding: 5;
}

th.news {
    font-size: x-large;
}
