/* http://www.w3.org/TR/REC-CSS2 */

{
    background: #ff0000;
    border-style: none;
    padding-left: 5%;
    padding-right: 5%;
}

// ugh, this is not what we want
p {
    padding-left: 5%;
    padding-right: 5%;
}
body {

/* other colors would be nice, but they don't look too well with white
music fragments.
*/

    background: #fffff;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    border-style: none;
}
a {
text-decoration: none;
}


a:link    {
color: #a0a0ff;
}
a:visited {
color:#945b99;
}

a:hover {
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 1em;
    padding-top: 0.5em;
}

#location {
}

#menu {
  background: #eeeeee;

}

#menuactive {
  background: #edeaaf;
}



/*
 NOT currently defined in HTML

#footer {
    / * fixme: bottom of page, not bottom of screen * /
    background: #e8e8ff;
}

#header {
    position: absolute;
    text-align: right;
    left: 160px;
    top: 0px;
    padding-top: 10px;
    width: 84%;
    background: #e8ffe8;
}

#main {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    vertical-align: top; 
}
*/



