/* Generic elements */
html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 95%;
  line-height: 1.5;
  background: #fff;
  padding: 0;
  margin: 0;
  text-align: justify;
}

hr {
  display: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 1em 10px;
}

li {
  margin-right: 1em;
}

/* Divs */
div#tocframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ceffae;
  font-size: 85%;
  padding: 0;
  margin: 0;
}

#tocframe a {
  color: #000;
}

#tocframe ul.toc {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tocframe li {
  display: inline;
  padding: 0;
  margin: 0;
}

#tocframe li a {
  float: left;
  width: 12.6%;
  height: 1.5em;
  text-align: center;
  font-weight: bold;
  background: #ceffae;
  padding: 0.5em 0.83%;
  margin: 0;
}

#tocframe li a:hover {
  background: #a6d178;
  text-decoration: none;
}

#tocframe li.toc_current {
}

#tocframe li.toc_current a {
  background: #bdee9d;
}

#tocframe li.toc_current a:hover {
  background: #a6d178;
  text-decoration: none;
}

/* second level toc (unnumberedsec) */

#tocframe .toc .toc {
  position: absolute;
  top: 2.6em;
  left: 0;
  font-size: 95%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

#tocframe .toc .toc li {
  background: #bdee9d;
  display: inline;
  padding: 0;
  margin: 0;
}

#tocframe .toc .toc li a {
  float: left;
  width: auto;
  text-decoration: none;
  font-weight: normal;
  padding: 0.25em 1em;
  margin: 0;
}

/* third level toc (unnumberedsubsec) */

#tocframe .toc .toc .toc {
  position: absolute;
  height: 0;
  overflow: hidden;
  text-indent: -999em;
}

div#main {
  position: absolute;
  /* this value may need to be adjusted */
  top: 6em;
  left: 0;
  width: 100%;
}

/* FIXME: does not work in IE<=6 */
#main > a:first-child {
  position: absolute;
  top: -10em;
}

div#pageHeader {
  width: 65%;
  height: 10em;
  text-align: center;
  border: solid #ddd;
  border-width: 1px 0 1px 1px;
  margin: 0 auto 1.4em;
}

#pageHeader .heading {
  position: relative;
  right: 11%;
  font-size: 4em;
  padding: 0;
  margin: 0;
}

#pageHeader p {
  position: relative;
  right: 11%;
  padding: 0;
  margin: 0;
}

div#content {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

div#lilylogo {
  position: absolute;
  top: -11.35em;
  right: 0;
  z-index: -100;
}

div#quickSummary {
  text-align: left;
  background: #fefefe;
  border: solid purple;
  border-width: 1px 1px 0 0;
  margin: 1.4em 13em 0 0;
}

#quickSummary .subheading {
  background: #fdf;
  padding: 0 0.5em;
  border: solid purple;
  border-width: 0 0 1px 1px;
  margin: 0;
}

#quickSummary p {
  padding: 0.5em;
  margin: 0;
}

div#news {
  background: #fefefe;
  padding: 0;
  margin: 0 13em 1em 0;
}

div.news-item {
}

.news-item .subheading {
  text-align: left;
  padding: 0 0 0 0.5em;
  border: solid orange;
  border-width: 1px 0 0 1px;
  margin: 0;
}

.news-item p {
  text-align: left;
  padding: 0.5em;
  margin: 0;
}

div#latestVersion {
  position: absolute;
  top: -1.5em;
  right: 0;
  width: 12em;
  text-align: center;
  background: #fefefe;
  border: solid blue;
  border-width: 1px;
}

#latestVersion .subheading {
  text-align: center;
  background: blue;
  color: #fff;
  padding: 0 0.5em;
  margin: 0;
}

#latestVersion .subsubheading {
  background: #cfe;
  padding: 0.25em 0.25em;
  margin: 0 0 0.25em 0;
}

#latestVersion p {
  font-size: 90%;
  padding: 0 0.5em 0.5em;
  margin: 0;
}

div#language {
  clear: both;
  bottom: 0;
  background: #fefefe;
  text-indent: 0.5em;
  padding: 0 0 0.5em;
  margin-top: 3em;
}

#language h2 {
  background: #ddd;
  font-size: 1.2em;
  padding: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #000;
  margin: 0 0 0.25em 0;
}

#language p {
  font-size: 1em;
  padding: 0;
  border-left: 2px solid #000;
  margin: 0 0 0 0.5em;
}

h1.unnumbered , h2.unnumberedsec, h3.unnumberedsubsec {
  position: relative;
  height: 0;
  overflow: hidden;
  text-indent: -999em;
  padding: 0;
  margin: 0;
}

table {
  text-align: left;
  padding: 0 0 0 0.5em;
  border-left: 3px solid green;
  margin: 1em 0 0 1em;
}

table td {
  padding: 0.4em 0;
}

.verbatim {
  margin: 10px;
}

.float-left {
  float: left;
}

.float-center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.float-left img,
.float-right img {
  background: #fff;
  padding: 1em;
  border: 1px solid #bbb;
  margin: 0.1em 1em;
}

.align-right {
  text-align: right;
}

.docs-version {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.docs-version h2 {
  padding: 0.25em 0;
  margin: 0;
}

.docs-intro {
  float: left;
  background: #ff9;
  border: 1px solid #000;
  width: 32%;
  margin: 1em 0 3em 2%;
}

.docs-intro h3 {
  background: #cc6;
  border-bottom: 1px solid #000;
}

.docs-regular {
  position: absolute;
  left: 36%;
  right: 36%;
  background: #cfe;
  border: 1px solid #000;
  margin: 1em 0 3em;
}

.docs-regular h3 {
  background: #adc;
  border-bottom: 1px solid #000;
}

.docs-infrequent {
  float: right;
  background: #fdf;
  border: 1px solid #000;
  width: 32%;
  margin: 1em 2% 6em 0;
}

.docs-infrequent h3 {
  background: #dbd;
  border-bottom: 1px solid #000;
}

.docs-intro h3,
.docs-regular h3,
.docs-infrequent h3 {
  font-size: 110%;
  padding: 0 0.5em;
  margin: 0;
}

.docs-intro ul,
.docs-regular ul,
.docs-infrequent ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0.6em 0;
}

.docs-intro li,
.docs-regular li,
.docs-infrequent li {
  text-align: left;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.warning {
  background: #eef;
  text-align: left;
  padding: 0;
  border: 2px solid green;
  margin: 0.2em 1em;
}

.warning p {
  padding: 0.5em;
  margin: 0;
}

.hide table, .hide table * {
  position: absolute;
  text-indent: -999em;
  height: 0;
  overflow: hidden;
}

.help {
  background: #ff7777;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 75%;
  padding: 1em;
  border: 10px dotted green;
  margin: 1em auto;
}
