/* Generic elements */
html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 95%;
  line-height: 1.5;
  background: #fff;
  padding: 0;
  margin: 0;
  text-align: justify;
}

hr {
  display: none;
}

p {
  margin: 0.5em;
}

h1, h2, h3, h4, h5 {
  margin: 1em 10px;
}

li {
  margin-right: 1em;
}

a img {
  border: 0;
}

/* Table of Contents */

/* first level toc (unnumbered) */
div#tocframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ceffae;
  font-size: 95%;
  padding: 0;
  margin: 0;
}

#tocframe a {
  color: #000;
}

#tocframe ul.toc {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tocframe > ul:first-child > li:first-child a {
  text-indent: -999em;
  background: #ceffae url(lily-home.png) no-repeat 50% 50%;
}

#tocframe > ul:first-child > li:first-child a:hover {
  background: #bdee9d url(lily-home.png) no-repeat 50% 50%;
}

#tocframe > ul:first-child > li:first-child.toc_current a {
  text-indent: -999em;
  background: #acdd8c url(lily-home.png) no-repeat 50% 50%;
}

#tocframe > ul:first-child > li:first-child.toc_current a:hover {
  text-indent: -999em;
  background: #acdd8c url(lily-home.png) no-repeat 50% 50%;
}

#tocframe li {
  display: inline;
  padding: 0;
  margin: 0;
}

/* search box */
#tocframe li form {
  float: left;
  width: 17%;
  height: 1.5em;
  padding: 0.6em 1.1%;
  margin: 0;
}

#tocframe li form input {
  display: inline;
  width: 100%;
  font-size: 95%;
  padding: 0.2em;
  border: 1px solid #acdd8c;
  margin: auto 0;
}

#tocframe li a {
  float: left;
  width: 16%;
  line-height: 3;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#tocframe li a:hover {
  background: #bdee9d;
  text-decoration: none;
}

#tocframe li.toc_current a,
#tocframe li.toc_current a:hover {
  background: #acdd8c;
  text-decoration: none;
}

/* second level toc (unnumberedsec) */

#tocframe .toc .toc {
  position: absolute;
  top: 3.3em;
  left: 0;
  font-size: 90%;
  padding: 0;
  margin: 0;
}

#tocframe .toc .toc li {
  display: inline;
  padding: 0;
  margin: 0;
}

#tocframe .toc .toc li a {
  float: left;
  width: auto;
  background: #ceffae;
  line-height: 2;
  text-decoration: none;
  text-indent: 0;
  font-weight: normal;
  padding: 0 0.75em;
  margin: 0;
}

#tocframe .toc .toc li.toc_current a {
  background: #acdd8c;
}

#tocframe .toc .toc li.toc_current a:hover {
  background: #acdd8c;
}

#tocframe .toc .toc li a:hover {
  background: #bdee9d;
}

/* colored second-level TOC items */
#tocframe .toc .toc li.color1 a {
  text-decoration: none;
  background:#fdf;
}

#tocframe .toc .toc li.color2 a {
  text-decoration: none;
  background:#cfe;
}

#tocframe .toc .toc li.color3 a {
  text-decoration: none;
  background:#ff9;
}



/* having this useless style makes the perl init file easier */
#tocframe .toc .toc li.colorDefault a {
}

#tocframe .toc .toc li.color1 a:hover {
  background:#ece;
}

#tocframe .toc .toc li.color2 a:hover {
  background:#bed;
}

#tocframe .toc .toc li.color3 a:hover {
  background:#ee8;
}

#tocframe .toc .toc li.color1.toc_current a {
  background:#dbd;
}

#tocframe .toc .toc li.color1.toc_current a:hover {
  background:#dbd;
}

#tocframe .toc .toc li.color2.toc_current a {
  background:#adc;
}

#tocframe .toc .toc li.color2.toc_current a:hover {
  background:#adc;
}

#tocframe .toc .toc li.color3.toc_current a {
  background:#dd7;
}

#tocframe .toc .toc li.color3.toc_current a:hover {
  background:#dd7;
}

/* third level toc (unnumberedsubsec) */

#tocframe .toc .toc .toc {
  position: absolute;
  top: 2em;
  left: 0;
  font-size: 100%;
}

#tocframe .toc .toc .toc li {
  display: inline;
  padding: 0;
  margin: 0;
}

#tocframe .toc .toc .toc li a {
  float: left;
  width: auto;
  background: #ceffae;
  text-decoration: none;
  text-indent: 0;
  font-weight: normal;
  padding: 0 0.75em;
  margin: 0;
}

#tocframe .toc .toc .toc li a:hover {
  background: #bdee9d;
}

#tocframe .toc .toc .toc li.toc_current a {
  background: #acdd8c;
}

#tocframe .toc .toc .toc li.toc_current a:hover {
  background: #acdd8c;
}

/* Divs */
div#main {
  position: relative;
  /* this value may need to be adjusted */
  top: 7.7em;
  left: 0;
  width: 92%;
  min-width: 34em;
  max-width: 70em;
  margin: 0 auto 11.7em;
}

/* FIXME: does not work in IE<=6 */
#main > a:first-child {
  position: absolute;
  top: -10em;
}

div#pageHeader {
  width: 100%;
  height: 10em;
  border: solid #ddd;
  border-width: 0;
  margin: 0 0 1.4em 0;
}

#pageHeader .heading {
  font-size: 4em;
  text-align: left;
  padding: 0;
  margin: 0 0 0 215px;
}

#pageHeader p {
  text-align: left;
  padding: 0;
  margin: 0 0 0 215px;
}

div#lilylogo {
  position: absolute;
  top: 0;
  left: 0;
}

div#quickSummary {
  text-align: left;
  background: #fff;
  border: solid purple;
  border-width: 1px 1px 0 0;
  margin: 1.4em 13em 0 0;
}

#quickSummary .subheading {
  background: #fdf;
  padding: 0 0.5em;
  border: solid purple;
  border-width: 0 0 1px 1px;
  margin: 0;
}

#quickSummary p {
  padding: 0.5em;
  margin: 0;
}

div#news {
  background: #fff;
  padding: 0;
  margin: 0 13em 1em 0;
}

div.news-item {
}

.news-item .subsubheading {
  text-align: left;
  background: transparent;
  padding: 0 0 0 0.5em;
  border: solid orange;
  border-width: 1px 0 0 1px;
  margin: 0;
  overflow: hidden;
}

.testimonial-item {
  clear: both;
  border: solid orange;
  border-width: 1px 0 0 1px;
  margin: 2em 0;
}

.testimonial-item .subsubheading {
  text-align: left;
  padding: 0 0 0 0.5em;
}

.testimonial-item img.float-left,
.testimonial-item img.float-right {
  margin: 1em 1em 2em;
}

.testimonial-item p {
  padding: 0 0.5em;
}

.news-item p {
  text-align: left;
  padding: 0.5em;
  margin: 0;
}

div#latestVersion {
  position: absolute;
  top: 9.5em;
  right: 0;
  width: 12em;
  text-align: center;
  background: #fff;
  border: 1px solid blue;
}

#latestVersion .subheading {
  text-align: center;
  background: blue;
  color: #fff;
  padding: 0 0.5em;
  border-bottom: 1px solid blue;
  margin: 0;
}

#latestVersion .subsubheading {
  background: #cfe;
  padding: 0.18em 0.25em;
  margin: 0 0 0.25em 0;
}

#latestVersion p {
  font-size: 90%;
  padding: 0 0.5em 0.5em;
  margin: 0;
}

div#language {
  clear: both;
  bottom: 0;
  background: #fefefe;
  text-indent: 0.5em;
  padding: 0 0 0.5em;
  margin-top: 7em;
}

#language h3 {
  background: #ddd;
  padding: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #000;
  margin: 0 0 0.25em 0;
}

#language p {
  padding: 0;
  border-left: 2px solid #000;
  margin: 0 0 0 0.5em;
}

h1.unnumbered, h2.unnumberedsec, h3.unnumberedsubsec {
  position: relative;
  height: 0;
  overflow: hidden;
  text-indent: -999em;
  padding: 0;
  margin: 0;
}

table {
  text-align: left;
  padding: 0 0 0 0.5em;
  border-left: 3px solid green;
  margin: 1em 0 0 1em;
}

table td {
  padding: 0.4em;
}

table a {
  text-align: left;
}

.verbatim {
  margin: 10px;
}

.float-left {
  float: left;
}

.float-center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.float-right {
  float: right;
}

img.float-left,
img.float-right {
  background: #fff;
  padding: 1em;
  border: 1px solid #bbb;
  margin: 0.5em;
}

div.float-left a.clickable,
div.float-center a.clickable,
div.float-right a.clickable {
  text-decoration: overline;
  margin-left: 1em;
}

.clear-both {
  clear: both;
}

.align-right {
  text-align: right;
}

.heading-center {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.heading-center h2 {
  padding: 0.25em 0;
  margin: 0;
}

/* Columns */

.column-center-top {
  float: left;
  width: 100%;
  text-align: center;
  margin: 1em 0 0;
}

.column-center-bottom {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
  margin: 1em 0 10.7em;
}

/* color1 */
.column-center-top h3,
.column-center-bottom h3 {
  background: #fdf;
  text-align: left;
}

.column-left-top {
  float: left;
  width: 49%;
  margin: 1em 0;
}

.column-left-bottom {
  clear: both;
  float: left;
  width: 49%;
  margin: 1em 0 10.7em;
}

/* color2 */
.column-left-top h3,
.column-left-bottom h3 {
  background: #cfe;
}

.column-right-top {
  float: right;
  width: 49%;
  margin: 1em 0;
}

.column-right-bottom {
  float: right;
  width: 49%;
  margin: 1em 0 10.7em;
}

/* color3 */
.column-right-top h3,
.column-right-bottom h3 {
  background: #ff9;
}

.column-center-top,
.column-center-bottom,
.column-left-top,
.column-left-bottom,
.column-right-top,
.column-right-bottom {
  background: #f5fffa;
  border: solid #000;
  border-width: 0 1px 1px 1px;
}

.column-center-top h3,
.column-center-bottom h3,
.column-left-top h3,
.column-left-bottom h3,
.column-right-top h3,
.column-right-bottom h3 {
  padding: 0 0.5em;
  border: solid #000;
  border-width: 1px 0;
  margin: 0;
}

.column-center-top h4,
.column-center-bottom h4,
.column-left-top h4,
.column-left-bottom h4,
.column-right-top h4,
.column-right-bottom h4 {
  padding: 0.5em 0.5em 0;
  margin: 0 0 0.5em 0;
}

.column-center-top ul,
.column-center-bottom ul,
.column-left-top ul,
.column-left-bottom ul,
.column-right-top ul,
.column-right-bottom ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em 0;
}

.column-center-top li,
.column-center-bottom li,
.column-left-top li,
.column-left-bottom li,
.column-right-top li,
.column-right-bottom li {
  text-align: left;
  padding: 0 0.5em 0;
  margin: 0 0 0.5em 0;
}

.column-center-top p,
.column-center-bottom p,
.column-left-top p,
.column-left-bottom p,
.column-right-top p,
.column-right-bottom p {
  text-align: left;
}

.keep-bullets ul {
  list-style-type: disc;
  padding: 0;
  margin: 0.5em 1.5em;
}

.keep-bullets li {
  padding: 0;
}

.warning {
  background: #eef;
  text-align: left;
  padding: 0;
  border: 2px solid green;
  margin: 1em;
}

.warning p {
  padding: 0.5em;
  margin: 0;
}

.hide {
  position: relative;
  text-indent: -999em;
  height: 0;
  overflow: hidden;
}

.help {
  background: #f77;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 75%;
  padding: 1em;
  border: 10px dotted green;
  margin: 1em auto;
}

.legal {
  font-size: 0.6em;
}

/* used on Introduction->Freedom page */
.color2 h3 {
  background:#cfe;
}

.color3 h3 {
  background:#ff9;
}


